<html>
    <head>
        <title>Price Request</title>
    </head>
    <body>
        <p>
            Bonjour,
        </p>
        <p>
            Pourriez-vous svp nous donner prix et délai pour la liste en annexe (<%= supplierOffer.reference %>)
        </p>
        <p>
            Merci d'avance,
        </p>
        <p>
            Salutations distinguées,<br/><br/>
            Anne-Sophie Vandewalle.
        </p>
        <p>
            Administration<br/>
            anne-sophie@walcarius.be<br/>
            tel: +32 (0)56 48 15 15<br/>
            fax: +32 (0)56 48 15 10<br/><br/>
            <a href="https://www.youtube.com/channel/UCyuu3dHBE95VfS1mWIUFZtA">Découvrez ici notre nouveau lasertube</a>
        </p>
    </body>
</html>